<nav class="breadcrumbs" aria-label="Breadcrumb navigation">
  <ol class="breadcrumb-list">
    <li
      *ngFor="let crumb of breadcrumbs; let last = last; let i = index"
      class="breadcrumb-item"
      [class.active]="last"
    >
      <a
        *ngIf="!last && crumb.url"
        [routerLink]="crumb.url"
        class="breadcrumb-link"
        [attr.aria-current]="last ? 'page' : null"
      >
        {{ crumb.label }}
      </a>
      <span *ngIf="last || !crumb.url" class="breadcrumb-text">
        {{ crumb.label }}
      </span>
      <svg
        *ngIf="!last"
        class="breadcrumb-separator"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        aria-hidden="true"
      >
        <polyline points="9 18 15 12 9 6"/>
      </svg>
    </li>
  </ol>
</nav>
